.img{
    box-shadow: 12px 12px 2px 1px #69adc0ff;
    border-radius: 10px;
}
.text-color{
    color: #0d6efdff;
}
code{
    color: #0d6efdff;
    text-decoration: none;
}

.btn a {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Use the parent element's color */
}