code {
  color: #0d6efdff;
  text-decoration: none;
}

.btn a {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Use the parent element's color */
}

.btn-send {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  width: 80%;
  margin-left: 3px;
}
.help-block.with-errors {
  color: #ff5050;
  margin-top: 5px;
}

.project-card:hover {
  background-color: #0d6efd !important;
  transition: background-color 0.3s ease, color 0.3s ease;
  color: white !important;
  border: none;
}

.project-card:hover .project-card-btn {
  background-color: #0d6efd !important;
  color: white !important;
  border-color: white !important;
}

.custom-hover :hover{
  background-color: white;
}
