.img{
    box-shadow: 12px 12px 2px 1px #69adc0ff;
    border-radius: 10px;
}
.text-color{
    color: #0d6efdff;
}
code{
    color: #0d6efdff;
    text-decoration: none;
}

.btn a {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Use the parent element's color */
}

label {
    color: #333;
}

.btn-send {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    width: 80%;
    margin-left: 3px;
    }
.help-block.with-errors {
    color: #ff5050;
    margin-top: 5px;

}

.card{
	margin-left: 10px;
	margin-right: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
  }

  .grid-item {
    text-align: center;
  }